html, body {
  margin: 0;
  height: 100%;
}

a {
  text-decoration: none;
}

.avatar-sm{
  width: 40px;
  height: 40px; 
}

.avatar-md{
  width: 80px;
  height: 80px; 
  position: absolute;
}

.avatar-lg{
  width: 120px;
  height: 120px; 
  position: absolute; 
}

.avatar-xl{
  width: 270px;
  height: 270px; 
  position: absolute; 
}

.h-33{
  height: 33% !important;
}

.w-33{
  width: 33% !important;
}

.mt-6{
  margin-top: 3.78rem !important;
}


